@media  (max-width: 1200px) {
    .container {
        max-width: 1180px;
    }


   .inner{ font-size: 30px;
}
}

@media  (max-width: 1100px) {
    .container {
        max-width: 990px;
    }

    .header__link {
        font-size: 14px;

    }
    .run__row{
        grid-template-columns: 100%;
    }
    .map__row{
        grid-template-columns: 100%;
    }
    .table__row{
        grid-template-columns: 100%;
    }
    .product_item{
        width: 50%;
    }
    .inner{
        clip-path:unset;
        width: 100%;
    }
}


@media  (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .header__link {
        font-size: 12px;

    }




    .section__title {
        font-size: 40px;
    }

    .section__desc {
        font-size: 16px;
    }

    .number__p {
        font-size: 70px;
    }

    .number__p span {
        font-size: 50px;
    }

    .img-numbers {
        width: 60px;
        height: 55px;
    }

    .row__team {
        grid-template-columns: 100%;
    }
    .grid_col6{
        grid-template-columns: 50%;
    }
    .events__btn{
        margin-bottom: 40px;
    }
    .map{
        border-radius: 0;
    }
    .table{
        border-radius: 0;
    }
    .footer{
        border-radius: 0;
    }
    .footer__nav{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}
@media  (max-width: 780px) {
    .container {
        max-width: 540px;
    }
    .menu__item:not(:last-child) {
        margin-right: 20px;
        font-size: 12px;
    }

    .header__link {
        font-size: 16px;
        transition: .6s;

    }
    .nav-bar {
        display: none;
        transition: .6s all ease 0s;

    }
    .nav-bar.show {
        display: flex;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: white;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1;
        transition: .6s all ease 0s;
    }

    .nav-bar.show {
        left: 0;
        transition: .6s all ease 0s;
    }

    .menu-btn {
        display: flex;
        top: 100px;
        position: fixed;
        z-index: 55;
        transition: .6s all ease 0s;
    }

    .inner {
        width: 100%;
    }

    .slider {

        width: 90%;
    }

    .slide-img {
        width: 60px;
    }


    .menu-btn.active span:before {
        top: 0;
        transform: rotate(45deg);

    }

    .menu-btn.active span:after {
        top: 0;
        transform: rotate(-45deg);

    }

    .menu-btn.active span {
        background-color: transparent;
    }

    .number__p {
        font-size: 60px;
    }

    .number__p span {
        font-size: 45px;
    }

    .img-numbers {
        width: 55px;
        height: 50px;
        left: 10px;
    }

    .img-contact {
        left: 40px;
    }

    .img-shop {
        left: 40px;
    }

    .img-heart {
        left: 60px;
    }

    .number__desc {
        font-size: 18px;
    }

        .product_item{
            width: 100%;
    }
}

@media  (max-width: 540px){
    .container{
        max-width:none;
    }
    .header__link{
        font-size:14px;

    }


    header{
        background: none;
    }
    .section__desc{
        font-size:14px;
    }
    .section__title{
        font-size: 35px;
    }
    .number__p {
        font-size: 50px;
    }

    .number__p span {
        font-size: 35px;
    }
    .img-numbers{
        width: 42px;
        height: 45px;
        left: 10px;
        top: -7px;
    }
    .img-contact{
        left: 40px;
    }
    .img-shop{
        left: 40px;
    }
    .img-heart{
        left: 55px;
    }
    .number__desc{
        font-size: 18px;
    }
.inner{
    width: 100%;
}
}

@media  (max-width: 540px){
    .container{
        max-width:none;
    }
    .header__link{
        font-size:14px;

    }


    header{
        background: none;
    }
    .section__desc{
        font-size:14px;
    }
    .section__title{
        font-size: 35px;
    }
    .number__p {
        font-size: 50px;
    }

    .number__p span {
        font-size: 35px;
    }
    .img-numbers{
        width: 42px;
        height: 45px;
        left: 10px;
        top: -7px;
    }
    .img-contact{
        left: 40px;
    }
    .img-shop{
        left: 40px;
    }
    .img-heart{
        left: 55px;
    }
    .number__desc{
        font-size: 18px;
    }
    .inner{
        width: 100%;
    }
}
