* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gilroy", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}


.flex-wrapper {
    display: flex;
    justify-content: space-between;
}
a:hover{
    color:#00A4E5;

}
.active,a:hover{
    color: #00A4E5;
}
.menu-btn{
    width: 40px;
    height: 45px;
    align-items: center;
    display: none;
}
.menu-btn span{
    display:inline-block;
    height: 2px;
    width: 100%;
    background-color: dodgerblue;
    position: relative;
    transition: .6s;
}
.menu-btn span:before{
    content: " ";
    height: 2px;
    width: 100%;
    background-color: dodgerblue;
    position: absolute;
    top: -10px;
    transition: .6s;
}
.menu-btn span:after{
    content: " ";
    height: 2px;
    width: 100%;
    background-color: dodgerblue;
    position: absolute;
    top: 10px;
    transition: .6s;
}



.header {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: white;
    opacity: .6;
    z-index: 6;
}

.header__container {
    display: flex;
    justify-content: space-between;
    height: 71px;

}

button {
    border: none;
    cursor: pointer;
}

.header__link {
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00B0F0;
    font-size: 20px;
}

.header__link:hover {
    color: red;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.menu__item:not(:last-child) {
    margin-right: 45px;
}

.cart img {
    margin-right: 11px;
}


.video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: red;
    font-size: 50px;
    font-weight: bold;
    background-color: white;
    margin-top: 71px;
    opacity: .6;
    clip-path: circle(93.0% at 92% 86%);
    width: 60%;
    min-height: 100vh;
}

.btn {
    width: 200px;
    height: 30px;
    color: white;
    background-color: red;
    border: none;
    margin: 70px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: dodgerblue;
}

.section__desc {
    margin-top: 30px;
    font-size: 20px;
    line-height: 27px;
    color: #212121;
}

.run-desc {
    background: url("../images/a3.png") no-repeat bottom left/contain;
}

.section__title {
    font-size: 50px;
    line-height: 60px;
    color: black;
    position: relative;
    z-index: 1;
    padding-top: 100px;
    text-align: center;
}

.background {
    background: url("../images/blu.png") no-repeat center/contain;
    background-size: 100px;
    background-position: 30% 110%;
}

.run-title img {
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    top: 70px;
    right: 50%;
    transform: translateX(-50%);
}

.slider {
    width: 640px;
    position: relative;
    padding-top: 320px;
    margin: 100px auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider > img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s;
    object-fit: cover;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    margin: 18px 0 0 18px;
    border: 3px solid #999;
    float: left;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;
}

.slider label img {
    display: block;
}

.slider input[name='slide_switch']:checked + label {
    border-color: #666;
    opacity: 1;
}

.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}

.slider input[name='slide_switch']:checked + label + img {
    opacity: 1;
    transform: scale(1);
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;

}

.number__p {
    font-weight: bold;
    font-size: 80px;
    line-height: 97px;
    display: inline-block;
    color: #00B0F0;
    position: relative;
    z-index: 1;
}

.number__p:hover {
    color: #56c1e9;
}

.numbers__title {
    position: relative;
}

.numbers__title:before {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #00B0F0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    opacity: 0;
    transition: .6s;
}

.numbers__title:hover:before {
    opacity: 1;
}

.img-numbers {
    position: absolute;
    left: 20px;
    top: 0;
    z-index: -1;
    width: 70px;
    height: 60px;
    color: #a4a3a3;
}

.img-contact {
    left: 80px;
}

.img-shop {
    left: 80px;
}

.img-heart {
    left: 100px;
}

.numbers__inner {

    text-align: center;
}

.numbers {

    background-blend-mode: color;
}

.numbers__row {
    margin-top: 50px;
}

.number__desc {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #212121;
}

.row__team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    padding-top: 50px;
}

.row__team img {
    border-radius: 50%;

}

.row__team img:hover {
    border: white solid 1px;
}

.map__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    padding-top: 50px;
}

.run__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;


}

.number__p span {
    font-size: 60px;
}

.run__image {
    margin-top: 100px;
}

.map__img {
    margin-top: 100px;
}

.col-4 {
    text-align: center;
}

.team {

}

.map {
    background-color: #e8f0f5;
    border-radius: 80% 80% 0 0;
}

.table {
    background-color: #e8f0f5;
    padding-bottom: 100px;
    border-radius: 0 0 0 50%;
}

.table__desc {
    margin-top: 80px;

}


.columns {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
}

.columns ul {
    padding: 1.2em 0 0.5em;
}

.columns span {
    padding: 0 0 0 0.5em;
}

.columns span,
.columns i {
    color: #2b2d42;
}

.columns i:nth-of-type(2) {
    cursor: pointer;
}

.columns__row {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.product, .product--pink, .product--yellow, .product--green, .product--red, .product--orange, .product--blue {
    box-shadow: 1px 5px 15px #ccc;
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    position: relative;
    flex: auto;
}

.product--blue {
    background: linear-gradient(-45deg, #00b0f0 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--orange {
    background: linear-gradient(-45deg, #00b0f0 50%, rgba(255, 255, 255, 0.5) 40%);
}

.product--red {
    background: linear-gradient(-45deg, #00b0f0 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--green {
    background: linear-gradient(-45deg, #00b0f0 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--yellow {
    background: linear-gradient(-45deg, #00b0f0 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product--pink {
    background: linear-gradient(-45deg, #00b0f0 50%, rgba(255, 255, 255, 0.5) 50%);
}

.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
    max-width: 100%;
    height: auto !important;
    text-align: center;

}

.product_inner {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.product_inner p {
    color: rgba(255, 255, 255, 0.9);
}

.product_inner button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 3px;
    padding: 1em 3em;
    margin: 1em 0 0 0;
    background: none;
    cursor: pointer;
    transition: background ease-in 0.25s;
}

.product_inner button:hover {
    background: white;
    color: #2b2d42;
}

.product_inner button:before {

    content: " ";
    color: #fff;
    position: absolute;
    font-size: 1.5em;
    margin: 0 -1.5em;
}

.product_inner button:hover:before {
    color: #2b2d42;
}

.product_overlay {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-500px);
    opacity: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.product_overlay h2 {
    color: rgba(43, 45, 66, 0.7);
    font-size: 1.2em;
    margin: 1em 0;
}

.product_overlay i {
    color: rgba(43, 45, 66, 0.7);
    font-size: 1.5em;
}

.img {
    height: 350px;
}

.footer_row {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.login_form {
    width: 400px;
    margin: auto;
    padding: 40px;

    background-color: white;
}

.login_input {
    height: 40px;
    margin-bottom: 15px;
    width: 100%;
    background-color: white;
    border: none;
    padding-left: 15px;
    border-radius: 8px;
}

.login_wrapper {
    margin-top: 100px;
}


.footer__btn {
    width: 200px;
    border: none;
    height: 40px;
    background-color: #39b3dd;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;

}

.footer__btn:hover {
    background-color: #283189;
}

.btn__wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__checkbox{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__checkbox span{
   margin-left: 10px;
}

.footer__link {
    text-transform: uppercase;
    font-weight: bold;
}

.contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
}

.footer {
    background-color: #e8f0f5;
    border-radius: 80% 80% 0 0;
    margin-top: 100px;
}

.footer__link:hover {
    color: #283189;
}
.footer__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.events__container {
    max-width: 1200px;
    padding-top: 60px;
}

.grid_col6 {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-column-gap: 45px;
}

.events__logo {
    margin-bottom: 20px;
    height: 150px;
    width: 250px;
}

.events__title {
    height: 70px;
    color: #283189;
}

.events__title span {
    color: green;
}

.events__date {
    display: flex;
    color: #283189;

}

.events__day {
    font-size: 40px;
    margin-right: 5px;

}

.events__month__year {
    margin-bottom: 40px;
}

.events__time {
    font-size: 40px;
    color: #283189;
    margin-left: 15px;
}
.events__content{
    margin-top: 50px;
}

.events__btn {
    background-color: dodgerblue;
    padding: 15px 15px;
    color: white;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.events__btn:hover {
    background-color: #283189;
}

.events__btn svg {
    margin-left: 5px;
    width: 30px;
    height: 30px;
}






.table th {
    background-color: #8ecbe0;
    padding: 10px 5px;
    text-align: center;
}

.table td {
    background-color: #c8dfe7;
    padding: 10px 5px;
}
